/* Base reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Gabarito', sans-serif;
}

/* Navbar styling */
.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar-s1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-s1 i {
    font-size: 25px;
    display: none;
}

.navbar-s1 img {
    width: 200px;
    max-width: 100%;
}

.navbar-s1 img:hover {
    cursor: pointer;
}

.navbar-s2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-s2 .odd_section,
.navbar-s2 .even_section {
    padding: 10px;
    font-size: 1.5vw;
}

.navbar-s2 .odd_section:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 30px;
}

.navbar-s2 .even_section:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar-s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-s3 button {
    background: none;
    border: none;
    padding: 10px;
    font-size: 1.5vw;
}

.navbar-s3 .vertical-line {
    display: inline;
    border-left: 1px solid #e0e0e0;
    margin: 0 8px;
}

.navbar-s3 button:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 30px;
}

.navbar-s3 a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vw;
}

/* Header styling */
.header {
    margin: 3vw 0 4vw 0;
}

.header h1 {
    font-size: 3vw;
    text-align: center;
}

.header_category {
    margin: 2vw 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 1.5vw;
}

.header_category .active {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    cursor: pointer;
}

.header_category p:not(.active):hover {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    cursor: pointer;
}

.header_search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 35px;
    width: 75%;
    margin: auto;
    gap: 10px;
    align-items: center;
    padding: 3px;
}

.header_search i {
    margin-left: 10px;
}

.header_search input {
    width: 100%;
    border: none;
    font-size: 1.4vw;
}

.header_search input:focus {
    outline: none;
}

.header_search button {
    background-color: #2de09e;
    color: black;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 1.5vw;
}

/* Sales image section */
.salesimage {
    width: 90%;
    border-radius: 20px;
    margin: auto;
    background-color: #dcc8ff;
    position: relative;
    margin-bottom: 4vw;
}

.salesimage img {
    width: 100%;
    border-radius: 20px;
}

.salesimage_offer {
    width: 290px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.salesimage_offer span {
    background-color: #ffffff;
    border-radius: 2px;
}

.salesimage_offer h1 {
    font-size: 30px;
}

.salesimage_offer_desc {
    font-size: 1.5vw;
    margin-top: 1vw;
}

.salesimage_offer button {
    background-color: #52327C;
    color: white;
    padding: 10px;
    display: flex;
    gap: 5px;
    border-radius: 20px;
    margin-top: 1vw;
}

.salesimage_offer button:hover {
    cursor: pointer;
}

/* Traveller Fave Section */
.traveller_fave {
    width: 100%;
    margin: auto 20px;
    margin-bottom: 15px;
    overflow: hidden;
}

.traveller_fave_title {
    font-size: 50px;
}

.traveller_fave_title_desc {
    font-size: 25px;
    margin: 1vw 0 1.5vw 0;
}

.traveller_fave_container_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.traveller_fave_container {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 5);
    gap: 80px;
    padding: 20px;
}

.traveller_fave_item {
    position: relative;
    flex: 0 0 calc(20% - 16px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.traveller_fave_item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.traveller_fave_item:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.traveller_fave_item h3 {
    position: absolute;
    bottom: 5%;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.traveller_fave_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    transition: background 0.3s;
}

.traveller_fave_arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.traveller_fave_arrow.left {
    left: 10px;
}

.traveller_fave_arrow.right {
    right: 10px;
}

/* Like section */
.like {
    width: 100%;
    margin: auto 20px;
    margin-bottom: 15px;
    overflow: hidden;
}

.like_title {
    font-size: 40px;
}

.like_title_desc {
    font-size: 25px;
    margin: 1vw 0 1.5vw 0;
}

.like_container_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.like_container {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 5);
    gap: 80px;
    padding: 20px;
}

.like_item {
    position: relative;
    flex: 0 0 calc(20% - 16px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.like_item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.like_item:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.like_item h4 {
    position: absolute;
    bottom: 5%;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.icon-container {
    position: absolute;
    top: 100%;
    left: 10px;
    display: flex;
    gap: 10px;
}

.icon-container img {
    width: 20px;
    height: 20px;
}

.like_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
    transition: background 0.3s;
}

.like_arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.like_arrow.left {
    left: 10px;
}

.like_arrow.right {
    right: 10px;
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .navbar-s1 img {
        width: 150px;
    }

    .navbar-s2 {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-s3 {
        flex-direction: column;
        gap: 10px;
    }

    .header_search {
        width: 100%;
    }

    .salesimage_offer h1 {
        font-size: 20px;
    }

    .salesimage_offer_desc,
    .salesimage_offer button {
        font-size: 1vw;
    }

    .traveller_fave_title {
        font-size: 30px;
    }

    .traveller_fave_title_desc {
        font-size: 18px;
    }

    .traveller_fave_container,
    .like_container {
        flex-direction: column;
        width: 100%;
    }

    .traveller_fave_item,
    .like_item {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .traveller_fave_arrow,
    .like_arrow {
        display: none;
    }
}
